<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>NMDC ORCID Creditor</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon"
              type="image/png"
              href="{{ url_for('static', path='/favicon.png') }}" />
        <meta name="description"
              content="Web app NMDC team members use to credit ambassadors and champions via ORCID" />
        <meta name="author" content="National Microbiome Data Collaborative" />
        <meta name="keywords" content="orcid,credit,nmdc,champion,ambassador" />
        <!-- Load Bootstrap CSS from a CDN.
             Reference: https://www.bootstrapcdn.com/ -->
        <link rel="stylesheet"
              href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
              integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
              crossorigin="anonymous">
        <!-- Customize values of theme variables used by Bootstrap.
             References:
             - https://getbootstrap.com/docs/5.3/customize/css-variables/#root-variables
             - https://developer.mozilla.org/en-US/docs/Web/CSS/color_value/hsl -->
        <style>
            :root {
                --bs-primary: #4f3b80;
                --bs-secondary: #00aae7;
            }
            .btn-primary {
                --bs-btn-bg: var(--bs-primary);
                --bs-btn-border-color: var(--bs-primary);
                --bs-btn-hover-bg: hsl(from var(--bs-primary) h s calc(l - 5));
                --bs-btn-hover-border-color: hsl(from var(--bs-primary) h s calc(l - 5));
                --bs-btn-active-bg: hsl(from var(--bs-primary) h s calc(l - 10));
                --bs-btn-active-border-color: hsl(from var(--bs-primary) h s calc(l - 10));

                /* Make the button's color appear muted when the button is disabled. */
                --bs-btn-disabled-bg: hsl(from var(--bs-primary) h s calc(l + 20));
                --bs-btn-disabled-border-color: hsl(from var(--bs-primary) h s calc(l + 20));
            }
        </style>
        <!-- Miscellaneous custom styles. -->
        <style>
            .body-block-container {
                display: flex;
                flex-direction: column;

                /* Make it at least as tall as the viewport, minus the height of the navbar. */
                min-height: calc(100vh - 56px);
            }
            main {
                /* Make it grow to fill any remaining space in the flex column. */
                flex-grow: 1;
            }
            footer {
                height: 400px;
                background-image: url("{{ url_for("static", path="/undraw_online_resume_re_ru7s.svg") }}");
                background-repeat: no-repeat;
                background-size: contain;
                background-position: bottom right;
            }
        </style>
    </head>
    <body>
        <nav class="navbar bg-body-tertiary">
            <div class="container">
                <a class="navbar-brand" href="{{ url_for("get_root") }}">NMDC Orcid Creditor</a>
                <ul class="navbar-nav">
                    {% if orcid_id %}
                        <li class="nav-item">
                            <a href="{{ url_for("logout") }}" class="nav-link">Sign out</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </nav>
        <div class="container body-block-container">
            <main class="mt-4">
                {% block body %}{% endblock %}
            </main>
            <footer>
                <!-- Note: We specify dimensions and a background image for this element via CSS. -->
            </footer>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
                crossorigin="anonymous"></script>
    </body>
</html>
