{% extends "base.html.jinja" %}
{% block body %}
    <h1>Welcome</h1>
    <p>
        Welcome to the NMDC ORCID Creditor, a website NMDC Ambassadors and Champions can use to add
        items describing their contributions to the NMDC, to their ORCID profiles.
    </p>
    <div>
        <a class="btn btn-primary"
           href="{{ url_for("get_redirect_to_orcid_login_page") }}"
           role="button">Get started</a>
    </div>
{% endblock %}
